
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        />
        <link rel="stylesheet" href="{{ 'faq.css' | asset_url }}" media="print" onload="this.media='all'">
        <script src="{{ 'faq.js' | asset_url }}" defer="defer"> </script>

        <div id="header">
          <div class="header">
            <h1>FAQs ON Design & Development</h1>
          </div>
          <div class="list__questions__items">
            <div class="questions__items">
              <div class="questions__title">
                <h2>1.How much does a new website cost?</h2>
                <div class="icon">
                  <div class="icon-act icon-plus">
                    <i class="fa-solid fa-plus"></i>
                  </div>
                  <div class="icon-act icon-mins hide">
                    <i class="fa-solid fa-minus"></i>
                  </div>
                </div>
              </div>
              <div class="questions__answer">
                <h3>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam,
                  voluptatem?
                </h3>
                <p>Lorem ipsum dolor sit.</p>
                <p>Lorem ipsum dolor sit.</p>
                <p>Lorem ipsum dolor sit.</p>
                <p>Lorem ipsum dolor sit.</p>
              </div>
            </div>
            <div class="questions__items">
              <div class="questions__title">
                <h2>2.Do you only create WordPres website</h2>
                <div class="icon">
                  <div class="icon-act icon-plus">
                    <i class="fa-solid fa-plus"></i>
                  </div>
                  <div class="icon-act icon-mins hide">
                    <i class="fa-solid fa-minus"></i>
                  </div>
                </div>
              </div>
              <div class="questions__answer">
                <h3>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam,
                  voluptatem?
                </h3>
                <p>Lorem ipsum dolor sit.</p>
                <p>Lorem ipsum dolor sit.</p>
                <p>Lorem ipsum dolor sit.</p>
                <p>Lorem ipsum dolor sit.</p>
              </div>
            </div>
            <div class="questions__items">
              <div class="questions__title">
                <h2>3.Will you maintain my site for me</h2>
                <div class="icon">
                  <div class="icon-act icon-plus">
                    <i class="fa-solid fa-plus"></i>
                  </div>
                  <div class="icon-act icon-mins hide">
                    <i class="fa-solid fa-minus"></i>
                  </div>
                </div>
              </div>
              <div class="questions__answer">
                <h3>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab,
                  praesentium consequatur. Inventore rem debitis deserunt minus,
                  reprehenderit id deleniti eos beatae, aspernatur qui eum libero
                  vitae quo impedit! Officiis voluptate velit ipsa consectetur?
                  Animi provident culpa veritatis velit, architecto consequatur
                  inventore modi, necessitatibus aperiam reprehenderit deleniti
                  dolorem asperiores. Ad, error!
                </h3>
                <p>Lorem ipsum dolor sit.</p>
                <p>Lorem ipsum dolor sit.</p>
                <p>Lorem ipsum dolor sit.</p>
                <p>Lorem ipsum dolor sit.</p>
              </div>
            </div>
            <div class="questions__items">
              <div class="questions__title">
                <h2>4.Will my website be mobile-friendly</h2>
                <div class="icon">
                  <div class="icon-act icon-plus">
                    <i class="fa-solid fa-plus"></i>
                  </div>
                  <div class="icon-act icon-mins hide">
                    <i class="fa-solid fa-minus"></i>
                  </div>
                </div>
              </div>
              <div class="questions__answer">
                <h3>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam,
                  voluptatem?
                </h3>
                <p>Lorem ipsum dolor sit.</p>
                <p>Lorem ipsum dolor sit.</p>
                <p>Lorem ipsum dolor sit.</p>
                <p>Lorem ipsum dolor sit.</p>
              </div>
            </div>
            <div class="questions__items">
              <div class="questions__title">
                <h2>5.How long does it take to build a website</h2>
                <div class="icon">
                  <div class="icon-act icon-plus">
                    <i class="fa-solid fa-plus"></i>
                  </div>
                  <div class="icon-act icon-mins hide">
                    <i class="fa-solid fa-minus"></i>
                  </div>
                </div>
              </div>
              <div class="questions__answer">
                <h3>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam,
                  voluptatem?
                </h3>
                <p>Lorem ipsum dolor sit.</p>
                <p>Lorem ipsum dolor sit.</p>
                <p>Lorem ipsum dolor sit.</p>
                <p>Lorem ipsum dolor sit.</p>
              </div>
            </div>
          </div>
        </div>

    